.ProductList {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0ac49d;
  color: white;
}

.product-image {
  max-width: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

td img {
  vertical-align: middle;
}

td {
  display: flex;
  align-items: center;
}
